{% extends 'base.html' %}
{% load static %}

    {% block content %}
       <main>

        {% include 'partials/menu.html' %}

        <section class="section-padding">
            <div class="container">
                
                <div class="row">
                    <h2 class="text-center col">Agende sua consulta</h2>

                </div>
                {}
                <div class="row">
                    <div class="col-lg-8 col-12 mx-auto">
                        <div class="align-center booking-form">
                            <form action="{% url 'agendaconsulta' %}" method="post">
                                {% csrf_token %}
                                
                                <div class="row">
                                    <h4 class="text-center mt-4">Médico</h4>
                                    <div class="col-3 mt-1 p-4 w-30 ">Especialidade</div>
                                    <div class="col-9 p-4">
                                        <select name="especialidade" class="form-select" aria-label="Selecione um horario">
                                            <option>Selecione um</option>
                                            
                                            <option>07:00</option>
                                            <option>08:00</option>
                                        </select>
                                    </div>
                                    <div class="col-3 mt-2 p-4 w-30">Nome</div>
                                    <div class="col-9 p-4">
                                        <select name="medico" class="form-select" aria-label="Selecione um horario">
                                            <option>Selecione um</option>
                                            {% for medico in medicos %}
                                            <option>{{ medico.nome_medico }}</option>
                                            {% endfor %}
                                            <option>08:00</option>
                                        </select>
                                    </div>
                                    <h4 class="text-center mt-4">Horário da consulta</h4>
                                    <div class="col-4 p-4">
                                        <input type="date" name="data" min="2022-02-22" id="data" class="form-control" required>
                                    </div>
                                    <div class="col-8 p-4">
                                        <select name="horario" class="form-select mt-4" aria-label="Selecione um horario">
                                            <option>Selecione um horario</option>
                                            <option>07:00</option>
                                            <option>08:00</option>
                                            <option>09:00</option>
                                            <option>10:00</option>
                                            <option>11:00</option>
                                            <option>12:00</option>
                                            <option>13:00</option>
                                            <option>14:00</option>
                                            <option>15:00</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-lg-3 col-md-4 col-6 mx-auto">
                                    {{ form.errors }}
                                    {{ form.non_field_errors }}
                                    <button type="submit" class="form-control" id="submit-button">Agendar</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main>

    {% include 'partials/footer.html' %}

{% endblock %}