{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <style>
        a:link {
            /* unvisited link */
            color: white;
            text-decoration: none;
        }

        a:visited {
            /* visited link */
            color: white;
            text-decoration: none;
        }

        a:hover {
            /* mouse over link */
            color: white;
            border-bottom: none;
            text-decoration: none;
        }

        a:active {
            /* active link */
            color: white;
            text-decoration: none;
        }

        .button {
            border: none;
            color: white;
            padding: 15px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button1 {
            background-color: #4CAF50;
        }

        /* Green */
        .button2 {
            background-color: #008CBA;
        }

        /* Blue */
        .button2:hover {
            background-color: #4CAF50;
            color: white;
        }
    </style>


    {% include 'partials/menu.html' %}

    <section class="hero" id="hero">
        <div class="container">
            <div class="row">


                <button class="button button2" type="button">Marcar consulta</a></button>
                <button class="button button2" type="button"> <a href="{% url 'paciente_verconsulta' %}">Ver
                        consultas</a></button>
                <button class="button button2" type="button"> <a href="https://meet.google.com/new">Realizar
                        consulta</a> </button>
                <button class="button button2" type="button"> <a href="{% url 'agendaconsulta' %}">Agenda
                        consulta - Leo</a> </button>
                <button class="button button2" type="button"> <a href="{% url 'pagamentoconsulta' %}">Pagamento
                        - Leo</a> </button>
                <button class="button button2" type="button"> <a
                        href="{% url 'visualizarconsulta' %}">Visualizar - Leo</a> </button>

                <button class="button button2" type="button">Atualizar cadastro</button>
                <button class="button button2" type="button">Ver histórico</button>
                <button class="button button2" type="button">Realizar feedback</button>

            </div>
        </div>
    </section>


</main>

{% include 'partials/footer.html' %}

{% endblock %}